<section class="error">
  <div class="container">
    <div class="logo"> <img src="/images/CircleUp_Logo_W.png" class="logo-img" alt="CircleUp Logo">CircleUp</div>
    <div class="grid-box">
      <div class="white-text round-left sign-flex sign-sidebar">

        <div class="padded-box">
          <i class="material-icons error-icon">error</i>
        </div>

      </div>

      <div class="round-right sign-flex">
        <div class="padded-box">
          <h3>Yikes.</h3>
          <p class="big">That page doesn't exist.</p>
          <div>
            <a class="waves-effect waves-light btn-large btn-flat btn-error" href="/user">Try Again?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>