<header>
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="#" class="brand-logo">Project 2 Title</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/user">USERNAME Profile</a></li>
                    <li><a href="/group">GROUP Profile</a></li>
                    <li><a href="logout.html">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section>
    <div class="row">
        <div class="container">
            <div class="col s5 test">
                <div style="width: 100%; background: #666; padding: 50px 10px;">EVENT IMAGE</div>
                <h2>EVENT NAME</h2>
                <a href="#" class="waves-effect waves-light btn-large">Invite a Member</a>
                <a href="#" class="waves-effect waves-light btn-large">Leave Group</a>
                <h3>Event Attendees</h3>
                <ul>
                    <li>Alpha</li>
                    <li>Beta</li>
                    <li>Gamma</li>
                    <li>Delta</li>
                    <li>Epsilon</li>
                    <li>Zeta</li>
                </ul>
            </div>
            <div class="col s7 test">
                <div class="event-info">
                    <h3>EVENT INFO</h3>
                <h4>Date, Time</h4>
                <h4>Location</h4>
                </div>
                <div class="event-map" style="border: 2px solid seagreen">
                    MAP
                </div>
                <div class="event-comments">
                    MESSAGE BOARD
                </div>
            </div>
        </div>
    </div>
</section>