<header>
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="#" class="brand-logo">Project 2 Title</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/user">USERNAME Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="group-page">
    <div class="container">
        <div class="grid-box">
            <div class="round-left sidebar">
                <div class="padded-box">
                    <div class="img-placeholder"></div>
                    <h3>Group Name</h3>
                    <a href="#" class="waves-effect waves-light btn-sm btn-flat btn-sign btn-filled">Invite a Member</a>
                    <a href="#" class="waves-effect waves-light btn-sm btn-flat btn-sign btn-filled">Leave Group</a>
                    <h3>Group Members</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Member Alpha</td>
                            </tr>
                            <tr>
                                <td>Member Beta</td>
                            </tr>
                            <tr>
                                <td>Member Gamma</td>
                            </tr>
                            <tr>
                                <td>Member Delta</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="round-right">
                <div class="padded-box">
                    <h3>Group Events</h3>
                    <table class="striped highlight">
                        <tbody>
                            <tr>
                                <td style="font-weight: 700">Event Alpha</td>
                                <td>2/25/2019 6:30pm</td>
                                <td><a href="/event" class="waves-effect waves-light btn-small btn-flat btn-filled">View
                                        Event</a></td>
                            </tr>
                            <tr>
                                <td style="font-weight: 700">Event Beta</td>
                                <td>2/25/2019 6:30pm</td>
                                <td><a href="/event" class="waves-effect waves-light btn-small btn-flat btn-filled">View
                                        Event</a></td>
                            </tr>
                            <tr>
                                <td style="font-weight: 700">Event Gamma</td>
                                <td>2/25/2019 6:30pm</td>
                                <td><a href="/event" class="waves-effect waves-light btn-small btn-flat btn-filled">View
                                        Event</a></td>
                            </tr>
                            <tr>
                                <td style="font-weight: 700">Event Delta</td>
                                <td>2/25/2019 6:30pm</td>
                                <td><a href="/event" class="waves-effect waves-light btn-small btn-flat btn-filled">View
                                        Event</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="text-align: center;" class="row">
                        <div class="col s12">
                            <p>Make your own event!</p>
                            <p>
                                <a id="btn-create" class="waves-effect waves-light btn-large btn-flat btn-filled btn-center">Create
                                    Event</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- MODALS -->
<div id="modal-create" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h5 class="modal-title">Create an Event</h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="input-field">
                    <input id="new-event-name-input" type="text" class="validate">
                    <label for="new-event-name">Event Name</label>
                </div>
                <div class="input-field">
                    <input id="new-event-description-input" type="text" class="validate">
                    <label for="new-event-description">Event Description</label>
                </div>
                <div class="input-field">
                    <input id="new-event-date-input" type="text" class="datepicker">
                    <label for="new-event-date">Event Date</label>
                </div>
                <div class="input-field">
                    <input id="new-event-time-input" type="text" class="timepicker">
                    <label for="new-event-time">Event Time</label>
                </div>
                <div class="input-field">
                    <input type="search" id="address" class="form-control" placeholder="Where are we going?" />
                    <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.1"></script>
                    <script>
                        (function () {
                            var placesAutocomplete = places({
                                appId: 'plMR3KWIP1YT',
                                apiKey: '34f886eeef64ca86687224558cef96e4',
                                container: document.querySelector('#address')
                            });

                            var $address = document.querySelector('#address-value')
                            placesAutocomplete.on('change', function (e) {
                                $address.textContent = e.suggestion.value
                            });

                            placesAutocomplete.on('clear', function () {
                                $address.textContent = 'none';
                            });

                        })();

                    </script>
                </div>
                <p>Add Items Needed:</p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Items Needed" id="item_needed1" type="text" class="validate">
                                <label for="first_name"></label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Items Needed" id="item_needed2" type="text" class="validate">
                                <label for="first_name"></label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Items Needed" id="item_needed3" type="text" class="validate">
                                <label for="first_name"></label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Items Needed" id="item_needed4" type="text" class="validate">
                                <label for="first_name"></label>
                            </div>
                    </form>
                </div>

                <p style="text-align: center;">
                    <a class="waves-effect waves-light btn-large btn-flat btn-filled btn-center" id="create-event">Create</a>
                </p>
            </form>
        </div>
    </div>
</div>

<script src="/js/modal.js"></script>