<section class="signup">
  <div class="container">
    <div class="logo">Project 2</div>
    <div class="grid-box">
      <div class="white-text round-left sign-flex sign-sidebar">

        <div class="padded-box">
          <h3>Welcome Back!</h3>
          <p>If you already have a <strong>Project 2</strong> account, go ahead and login.</p>
          <a class="waves-effect waves-light btn-large btn-flat btn-bordered" href="/login">Sign In</a>
        </div>

      </div>
      <div class="round-right sign-flex">
        <div class="padded-box">
          <h3 class="brand-text">Create Account</h3>

          <form class="signup">
            <div class="input-field">
              <input id="name-input" type="text" class="validate">
              <label for="name">Name</label>
            </div>
            <div class="input-field">
              <input id="email-input" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field">
              <input id="password-input" type="password" class="validate">
              <label for="password">Password</label>
            </div>
            <div>
              <button type="submit" id="btn-signup" class="waves-effect waves-light btn-large btn-flat btn-filled">Sign Up</button>
            </div>
          </form>
          <!-- <p>Forgot your password?</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/signup.js"></script>
<script src="/js/modal.js"></script>