<section class="signup">
  <div class="container">
    <div class="logo">Project 2</div>
    <div class="row">
      <div style="height: 80vh;" class="col s4 white-text round-left sign-flex sign-sidebar">

        <div>
          <h3>Welcome Back!</h3>
          <p>If you already have a <strong>Project 2</strong> account, go ahead and login.</p>
          <a class="waves-effect waves-light btn-large btn-flat btn-bordered" href="/login">Sign In</a>
        </div>

      </div>
      <div style="height: 80vh;" class="col s8 round-right sign-flex">
        <div class="padded-box">
          <h3 class="brand-text">Create Account</h3>

          <form class="signup">
            <div class="input-field">
              <input id="name-input" type="text" class="validate">
              <label for="name">Name</label>
            </div>

            <div class="input-field">
              <input id="email-input" type="email" class="validate">
              <label for="email">Email</label>
            </div>

            <div class="input-field">
              <input id="password-input" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </form>
          <div>
            <button type="submit" id="btn-signup" class="waves-effect waves-light btn-large btn-flat btn-filled">Sign
              Up</button>
          </div>
          <!-- <p>Forgot your password?</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/js/signup.js"></script>