<section class="signin">
  <div class="container">
    <div class="logo brand-text">Project 2</div>
    <div class="row sign-forms">
      <div style="height: 80vh;" class="col s8 round-left sign-flex">
        <div class="padded-box">

          <h3 class="brand-text">Sign in to Meetups</h3>

          <form class="signin">
            <div class="input-field">
              <input id="email-input" type="email" class="validate">
              <label for="email">Email</label>
            </div>

            <div class="input-field">
              <input id="password-input" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </form>
          <div>
            <button type="submit" id="btn-signup" class="waves-effect waves-light btn-large btn-flat btn-filled">Sign
              In</button>
          </div>
          <!-- <p>Forgot your password?</p> -->
        </div>
      </div>

      <div style="height: 80vh;" class="col s4 white-text round-right sign-flex sign-sidebar">
        <div>
          <h3>Hello Friend</h3>
          <p>Enter your personal details to start connecting</p>
          <a class="waves-effect waves-light btn-large btn-flat btn-sign btn-bordered" href="/">Sign Up</a>
        </div>
      </div>

</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/js/login.js"></script>