<header>
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="#" class="brand-logo"><img src="/images/CircleUp_Logo_WW.png" class="nav-img" alt="CircleUp Logo">CircleUp</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="user-page">
    <div class="container">
        <div class="grid-box">
            <div class="round-left sidebar">
                <div class="padded-box">
                    <img class="placeholder-icon" src="images/CircleUp_Logo.png">
                    <h3 class="user-name"></h3>
                    <p class="user-email"></p>
                    {{!-- <div>
                        <a class="waves-effect waves-light btn-large btn-flat btn-sign btn-filled">Change Password</a>
                    </div> --}}
                </div>
            </div>
            <div class="round-right">
                <div class="padded-box">
                    <h3 class="title-color">Your Groups</h3>
                    <table class="striped highlight">
                        <tbody id="group-list" class="list-group">
                       
                        </tbody>
                    </table>

                    {{!-- <table class="striped highlight">
                        <tbody class="">
                            <tr>
                                <td id="group-display">
                                    Group Alpha
                                    <a href="/group" class="waves-effect waves-light btn-small btn-flat btn-filled">View
                                        Group Page &raquo;</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Group Beta
                                    <a href="/group" class="waves-effect waves-light btn-small btn-flat btn-filled">View
                                        Group Page &raquo;</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Group Gamma
                                    <a href="/group" class="waves-effect waves-light btn-small btn-flat btn-filled">View
                                        Group Page &raquo;</a>
                                </td>
                            </tr>
                        </tbody>
                    </table> --}}

                    <div style="text-align: center;" class="row">
                        <div class="col s6">
                            <p>See what your group is up to.</p>
                            <p>
                                <a id="btn-join" class="waves-effect waves-light btn-large btn-flat btn-filled btn-center">Join
                                    Group</a>
                            </p>
                        </div>
                        <div class="col s6">
                            <p>Make your own group!</p>
                            <p>
                                <a id="btn-create" class="waves-effect waves-light btn-large btn-flat btn-filled btn-center">Create
                                    Group</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- MODALS -->
<div id="modal-join" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h5 class="modal-title">Join a Group</h5>
        </div>
        <div class="modal-body">
            <form class="signup">
                <div class="input-field">
                    <input id="join-group-name-input" type="text" class="validate">
                    <label for="join-group-name">Group Name</label>
                </div>
                <div class="input-field">
                    <input id="join-group-password-input" type="password" class="validate">
                    <label for="join-group-password">Group Password</label>
                </div>
                <button type="submit" id="join-group" class="waves-effect waves-light btn-large btn-flat btn-filled btn-center">Join a Group</button>
                </p>
            </form>
        </div>
    </div>
</div>

<div id="modal-create" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h5 class="modal-title">Create a Group</h5>
        </div>
        <div class="modal-body">
            <form class="group-signup">
                <div class="input-field">
                    <input id="new-group-input" type="text" class="validate">
                    <label for="new-group">Group Name</label>
                </div>
                <div class="input-field">
                    <input id="new-group-password-input" type="password" class="validate">
                    <label for="new-group-password">Group Password</label>
                </div>
                {{!-- <p style="text-align: center;">
                    <a class="waves-effect waves-light btn-large btn-flat btn-filled btn-center" type="submit">Create</a>
                    --}}
                    <button type="submit" id="btn-signup" class="waves-effect waves-light btn-large btn-flat btn-filled btn-center">Create</button>
                </p>
            </form>
        </div>
    </div>
</div>

<script src="/js/user.js"></script>
<script src="/js/modal.js"></script>