@media screen and (max-width: 768px) {

    /*
    ==============================
    COLUMN SETUP
    ==============================
    */
    
    .grid-box, .signin .grid-box {
        grid-template-columns: 1fr;
    }

    .round-left {
        border-radius: 20px 20px 0 0;
    }
    
    .round-right {
        border-radius: 0 0 20px 20px;
    }

    /*
    ==============================
    SIGN-IN/UP PAGE
    ==============================
    */

    .signup .sign-flex,
    .signin .sign-flex,
    .error .sign-flex {
        height: auto;
    }

}