@media screen and (max-width: 768px) {

    /*
    ==============================
    COLUMN SETUP
    ==============================
    */
    
    .grid-box {
        grid-template-columns: 1fr;
    }

    .round-left {
        border-radius: 20px 20px 0 0;
    }
    
    .round-right {
        border-radius: 0 0 20px 20px;
    }

    /*
    ==============================
    SIGN-IN/UP PAGE
    ==============================
    */

    .signup .sign-flex,
    .signin .sign-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 2em 0;
        height: auto;
    }

}